[Unit]
Description=Llama ROCm Server
After=network-online.target

[Container]
ContainerName=llama-server
Image=localhost/llama.cpp:latest
AddDevice=/dev/dri
AddDevice=/dev/kfd
GroupAdd=video
GroupAdd=render
SeccompProfile=unconfined
Network=host
# Note: Set MODEL_CACHE_DIR in .env before using this file
Volume=${MODEL_CACHE_DIR}:/root/.cache/huggingface/hub/:Z
Exec=llama-server -hf unsloth/Qwen3-Coder-Next-GGUF:UD-Q4_K_M --log-timestamps --no-mmap -fit off --host 0.0.0.0 --port 8080 -c  -ngl 999 -fa 1

[Install]
WantedBy=default.target
